/*
ColorNomenclature when access using tailwind, by default, only intensity
    c{HueName}s{saturation}i{intensity}

Color translation system of light and dark:
Each color have: 
[0] hue
    I decided to use English for hue
[1] relative lightness as fraction of the page's lightness, there are 256 levels (0-255), 
    I decide to divide the levels into 4 sublevels (marked by their lowest level), their labels are in hex:
        0x
        4x
        8x
        cx
    Note: level 80 is directly in the middle, while 8x have proximity to the page color
    Note (where to put the color): 
        //Let the grid be 0,0 where pure white, 1,0 where pure hue, 1,1 where pure black
        //the color should lie on the line from
        The hsl's second value is always 100%
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto';
    src: url('../../public/Roboto-Medium.ttf') format('truetype'); /* Regular font */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../public/Montserrat-VariableFont_wght.ttf') format('truetype'); /* Regular font */
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'Montserrat', serif;
}
.light, div.light > * {
    --color-00: hsl(0, 0%, 0%);
    --color-40: #2d2f34;
    --color-80: #787882;
    --color-c0: #e2e8f0;
    --color-ff: #ffffff;

    --color-golda0: hsl(50, 100%, 40%);
    --color-goldc0: hsl(51, 100%, 75%);

    --color-blue80: hsl(240, 100%, 50%);
    --color-blue40: hsl(240, 100%, 25%);
    --color-bluec0: hsl(240, 100%, 75%);


    --color-red80: #803434;
    --color-red40: #411818;
    --color-redc0: #c84747;


    &::-webkit-scrollbar {
        width: 50px; // Width of the scrollbar
    }

    // Scrollbar thumb
    &::-webkit-scrollbar-thumb {
        background: var(--color-4); // Use your desired color variable
    }

    // Scrollbar track
    &::-webkit-scrollbar-track {
        background: var(--color-8); // Use your desired color variable
    }

}
// ::-webkit-scrollbar {
//     width: 50px; // Width of the scrollbar
// }
.dark, div.dark > * { 
    --color-00: #ffffff;
    --color-40: #e2e8f0;
    --color-80: #787882;
    --color-c0: #2d2f34;
    --color-ff: #000000;

    --color-golda0: #685a1a;
    --color-goldc0: #494114;

    --color-blue80: hsl(240, 100%, 50%);
    --color-blue40: hsl(240, 100%, 75%);
    --color-bluec0: hsl(240, 100%, 25%);

    --color-red40: #c82323;
    --color-red80: #881b1b;
    --color-redc0: #470e0e;



    &::-webkit-scrollbar {
        width: 10px; // Width of the scrollbar
    }

    // Scrollbar thumb
    &::-webkit-scrollbar-thumb {
        background: var(--color-4); // Use your desired color variable
    }

    // Scrollbar track
    &::-webkit-scrollbar-track {
        background: var(--color-8); // Use your desired color variable
    }
}

@layer base{
    
}
// div {
//     @apply black;
// }

