/*TODO
Collapse :root and :root{@media} into [div.light , div.dark]
ColorNomenclature
-percentage of {mode: darkness|lightness} in /16 + ColorName
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat';
    src: url('../../public/Montserrat-VariableFont_wght.ttf') format('truetype'); /* Regular font */
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'Montserrat', sans-serif;
    // @apply font-mono text-slate-900;
    // color: blue($color: #000000);
}

// a {
//     color: blue;
// }
// :root {
//     //if user like light theme, these variables are applied, check tailwind config
//     //naming based of degree of purity to mode and color bias base16
//     // --color-f: #ffffff;
    
//     // --color-fBlue: #3c8bc1;
//     // --color-0: #000000;
//     // --color-4: #282c2d;

//     @media (prefers-color-scheme: dark){ //if user like dark theme
//         --color-f: #000000;
//         --color-8Blue: #0000ff;
//         --color-0: #fffdfd;
//         --color-4: #bfd5df;
//         --color-cBlue: #00438a;
//     }
// }
//change mode not working, tutorial: https://www.geeksforgeeks.org/how-to-select-all-child-elements-recursively-using-css/
.light, div.light > * { //if the user manually override to light theme
    //mono
    --color-0: #000000;
    --color-4: #424546;
    --color-8: #7d7d7d;
    --color-c: #e1e1e1;
    --color-10: #ffffff;
    //blues
    --color-4Blue: #00517c;
    --color-8Blue: #00b3ff;
    --color-cBlue: #85e9ff;
    //clears
    --color-4Clear: #000000c2;
    --color-8Clear: #00000083;
    --color-cClear: #0000003c;

}
.dark, div.dark > * { //if the user manually override to dark theme
    //mono
    --color-0: #fffdfd;
    --color-4: #bfd5df;
    --color-8: #787881;
    --color-c: #353437;
    --color-10: #000000;
    //blues
    --color-4Blue: #7dd2ff;
    --color-8Blue: #00b7ff;
    --color-cBlue: #00438a;
    //clears
    --color-4Clear: #ffffffc2;
    --color-8Clear: #ffffff83;
    --color-cClear: #ffffff3c;
}

@layer base{
    
}
// div {
//     @apply black;
// }

