/*TODO
Collapse :root and :root{@media} into [div.light , div.dark]
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply font-mono text-slate-900;
    // color: blue($color: #000000);
}
// a {
//     color: blue;
// }
// :root {
//     //if user like light theme, these variables are applied, check tailwind config
//     //naming based of degree of purity to mode and color bias base16
//     // --color-f: #ffffff;
    
//     // --color-fBlue: #3c8bc1;
//     // --color-0: #000000;
//     // --color-4: #282c2d;

//     @media (prefers-color-scheme: dark){ //if user like dark theme
//         --color-f: #000000;
//         --color-8Blue: #0000ff;
//         --color-0: #fffdfd;
//         --color-4: #bfd5df;
//         --color-cBlue: #00438a;
//     }
// }
//change mode not working, tutorial: https://www.geeksforgeeks.org/how-to-select-all-child-elements-recursively-using-css/
.light, div.light > * { //if the user manually override to light theme
    --color-f: #ffffff;
    --color-8Blue: #0000ff;
    --color-0: #000000;
    --color-4: #282c2d;
    --color-cBlue: #9fcdff;
}
.dark, div.dark > * { //if the user manually override to dark theme
    --color-f: #000000;
    --color-8Blue: #0000ff;
    --color-0: #fffdfd;
    --color-4: #bfd5df;
    --color-cBlue: #00438a;
}

@layer base{
    
}
// div {
//     @apply black;
// }

