:root {
  /* 16 is placeholder */
  --min-box: 16px;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --primary: "#000000";
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.text-normal {
  font-size: calc(var(--min-box) * 0.8);
  line-height: var(--min-box);
  font-family: var(--font-mono);
  color: var(--primary);
}
