:root {
  --font-geist-mono: 'Geist Mono', monospace;

  /* 16 is placeholder */
  --min-box: 0px;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --primary: "#000000";
}
/* 
.char {
    display: inline-flex;
    width: var(--min-box);
    height: var(--min-box);

    align-items: center;
    justify-content: center;
} */

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-mono);
  line-height: var(--min-box);
  font-size: calc(var(--min-box) * 0.8);
}

button {
  font-family: var(--font-mono);
  border: none;
  /* box-sizing: border-box;  */
  line-height: var(--min-box);
  padding: 0;
  font-size: calc(var(--min-box) * 0.8);
  background: none;
}